.navigation-sidebar {
  background: #B0F4E0;
  
  height: 100%; width: 25%;
  float: left;
  padding: 1em;
  box-sizing: border-box;

  position: fixed;
  top: 0;
  left: 0;

  /* In order to center the logo and links in the div */
  text-align: center;
}

.navigation-sidebar .logo {
  width: 150px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.navigation-sidebar .navigation-links {
  width: 150px;
  text-align: center;
  list-style: none;
}

.navigation-sidebar .navigation-links {
  text-align: left;
}

.masthead {
  background: url(../images/background_4.jpg);
  background-size: cover;
  background-position: center center;
  height: 500px;

  /* Setting to table for valign */
  display: table;
}

.masthead-content {
  display: table-cell;
  vertical-align: middle;
  padding: 0 4em;
}

.masthead-header {
  color: white;
}

.author-description a {
  color: #E79401;
  background: white;
  text-decoration: none;
  padding: 14px 10px;
  display: inline-block;
}

.author-info .author-photo {
  width: 3.6rem; height: 3.6rem;
  width: 4.5vw; height: 4.5vw;
  margin-bottom: 0; padding-bottom: 0;
  margin-right: 1rem;
  display: inline-block;
  border: 3px solid white;
  border-radius: 3.6rem;
  border-radius: 4.5vw;
  position: relative;
  top: 2vw;
}

.content {
  width: 75%;
  float: right;
  box-sizing: border-box;
}

.article-content {
  padding: 3em 4em;
}

.article-subheader {
  font-size: 2.4rem;
  font-size: 3vw;
}

.blog.collapsed {
}

.blog.collapsed .masthead {
  background: white;
}

.blog.collapsed .masthead .masthead-header {
  color: black;
  font-size: 3vw;
}

.blog.collapsed .article-content {
  display: none;
}

.content img {
  width: 100%;
}



.mood {
  padding: 3em 4em;
  background: url(../images/background_2.jpg);
  background-size: cover;
  background-position: center center;
  display: block;
}